.card {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;
  font-family: Poppins;
}

.card-head {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f7;
  color: #242222;
  display: flex;
  justify-content: space-between; /* Ensure space between elements */
  align-items: center; /* Align items vertically */
  font-size: 19px;
  font-weight: 700;
}

.new-patient-button {
  background-color: #3497F9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  min-width: 110px; /* Ensure button has a minimum width */
  height: 32px;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.card-body {
  padding: 1rem 1.5rem;
}
.search-date{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;


  .search-container{
    //display: inline-block;
    //position: relative;

    .search{
      border: none;
      height: 2.75rem;
      padding-left: 2.5rem;
      padding-right: 1.25rem;
      background-color: #EBF5FF;
      box-shadow: none;
      border-radius: 1.875rem;
      outline: 0;
    }
    .search-icon{
      position: absolute;
      font-size: 1.5rem;
      line-height: 2.75rem;
      //top: 0;
      left: 0.813rem;
      color: #3497F9;
      padding: 0.7rem 0.7rem;
    }
  }


  .date-container{
      border: none;
      height: 2.75rem;
      padding-left: 2.5rem;
      padding-right: 1.25rem;
     // background-color: #EBF5FF;
      box-shadow: none;
     // border-radius: 1.875rem;
      //outline: 0;
      //display: none;
  }


}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

button {
  margin-right: 5px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 576px) {
  .card-head {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Adjust alignment as needed */
  }
  .new-patient-button {
    margin-top: 1rem; /* Add spacing between button and other elements */
  }
}

@media (min-width: 992px) {
  .card {
    margin: 1.25rem; /* Increase margin for larger screens */
  }
}

@media (max-width: 600px) {
  .search-date {
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Stretch items to take full width */
  }

  .search-container, .date-container {
    width: 100%; /* Make each container take full width */
    margin-bottom: 10px; /* Space between stacked items */
  }
}
