<div class="dashboard">
  <!-- Activity Overview -->
  <mat-card class="activity-overview">
    <div class="overview-item">
      <mat-icon>event</mat-icon>
      <div>
        <h3>{{ activityOverView.appointments }}</h3>
        <p>Appointments</p>
      </div>
    </div>
    <div class="overview-item">
      <mat-icon>person_add</mat-icon>
      <div>
        <h3>{{ activityOverView.newPatients }}</h3>
        <p>New Patients</p>
      </div>
    </div>
    <div class="overview-item">
      <mat-icon>local_pharmacy</mat-icon>
      <div>
        <h3>{{ activityOverView.medicinesSold }}</h3>
        <p>Medicines Sold</p>
      </div>
    </div>
    <div class="overview-item">
      <mat-icon>science</mat-icon>
      <div>
        <h3>{{ activityOverView.labTests }}</h3>
        <p>Lab Tests</p>
      </div>
    </div>
  </mat-card>

  <!-- New Appointments -->
  <mat-card class="new-appointments">
    <mat-table [dataSource]="appointment" class="mat-elevation-z8">
      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patientName">
        <mat-header-cell *matHeaderCellDef> Patient Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.patientName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="doctor">
        <mat-header-cell *matHeaderCellDef> Doctor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.doctorName}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['time', 'date', 'patientName', 'doctor']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['time', 'date', 'patientName', 'doctor']"></mat-row>
    </mat-table>
  </mat-card>

  <!-- Top Medicines Sold -->
  <mat-card class="top-medicines-sold">
    <ngx-charts-pie-chart
      [results]="transformedMedicines"
      [legend]="true"
      [labels]="true">
    </ngx-charts-pie-chart>
  </mat-card>
</div>
