<!-- hero section -->
<section class="hero__section">
  <div class="container">
    <div class="flex flex-col lg:flex-row gap-90 items-center justify-between">
      <!-- hero content -->
      <div>
        <div class="lg:w-570">
          <h1 class="text-36 leading-46 text-headingColor font-600 md:text-50 md:leading-60">
            We help patients live a healthy, longer life.
          </h1>
          <p class="text__para">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
          </p>
          <a routerLink="/patient/appointment">
            <button class="btn">Request an Appointment</button>
          </a>

        </div>
        <!-- hero counter -->
        <div class="mt-30 lg:mt-70 flex flex-col lg:flex-row lg:items-center gap-5 lg:gap-30">
          <div>
            <h2 class="text-36 leading-56 lg:text-44 lg:leading-54 font-700 text-headingColor">10+</h2>
            <span class="w-100 h-2 bg-yellowColor rounded-full block mt--14"></span>
            <p class="text__para">Years of Experience</p>
          </div>
          <div>
            <h2 class="text-36 leading-56 lg:text-44 lg:leading-54 font-700 text-headingColor">15+</h2>
            <span class="w-100 h-2 bg-purpleColor rounded-full block mt--14"></span>
            <p class="text__para">Clinic Location</p>
          </div>
          <div>
            <h2 class="text-36 leading-56 lg:text-44 lg:leading-54 font-700 text-headingColor">100%</h2>
            <span class="w-100 h-2 bg-irisBlueColor rounded-full block mt--14"></span>
            <p class="text__para">Patients Satisfaction</p>
          </div>
        </div>
      </div>
      <!-- hero images -->
      <div class="hero-images flex gap-30 justify-end">
        <div>
          <img class="w-300" src="assets/images/hero-img01.png" alt="" />
        </div>
        <div class="mt-30">
          <img src="assets/images/hero-img02.png" alt="" class="w-200 mb-30" />
          <img src="assets/images/hero-img03.png" alt="" class="w-200" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero section ends -->

<section>
  <div class="container">
    <div class="lg:w-470 mx-auto">
      <h2 class="heading text-center">
        Providing the best<br> medical Services
      </h2>
      <p class="text__para text-center">World-class care for everyone. Our health System offers unmatched, expert health care.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-30 mt-30 lg:mt-55">
      <div class="py-30 px-5">
        <div class="flex items-center justify-center">
          <img src="assets/images/icon01.png" alt="" />
        </div>
        <div class="mt-30">
          <h2 class="text-26 leading-9 text-headingColor font-700 text-center">
            Find a Doctor
          </h2>
          <p class="text-16 leading-7 text-textColor font-400 mt-4 text-center">
            World-class care for everyone. Our health System offers unmatched, expert health care. From the lab Clinic.
          </p>
          <a
  routerLink="/patient/doctor"
  class="round-button"
>
  <i class="arrow">&#x2192;</i>
</a>
        </div>
      </div>
      <div class="py-30 px-5">
        <div class="flex items-center justify-center">
          <img src="assets/images/icon02.png" alt="" />
        </div>
        <div class="mt-30">
          <h2 class="text-26 leading-9 text-headingColor font-700 text-center">
            Find Location
          </h2>
          <p class="text-16 leading-7 text-textColor font-400 mt-4 text-center">
            World-class care for everyone. Our health System offers unmatched, expert health care. From the lab Clinic.
          </p>
          <a
  routerLink="/patient/appointment"
  class="round-button"
>
  <i class="arrow">&#x2192;</i>
</a>
        </div>
      </div>
      <div class="py-30 px-5">
        <div class="flex items-center justify-center">
          <img src="assets/images/icon03.png" alt="" />
        </div>
        <div class="mt-30">
          <h2 class="text-26 leading-9 text-headingColor font-700 text-center">
            Book Appointment
          </h2>
          <p class="text-16 leading-7 text-textColor font-400 mt-4 text-center">
            World-class care for everyone. Our health System offers unmatched, expert health care. From the lab Clinic.
          </p>
          <a
  routerLink="/patient/appointment"
  class="round-button"
>
  <i class="arrow">&#x2192;</i>
</a>
        </div>
      </div>
      <div class="py-30 px-5">
        <div class="flex items-center justify-center">
          <img src="assets/images/medicine.jpg" alt="" class="reduced-size" />
        </div>
        <div class="mt-30">
          <h2 class="text-26 leading-9 text-headingColor font-700 text-center">
            Medicine Inventory
          </h2>
          <p class="text-16 leading-7 text-textColor font-400 mt-4 text-center">
            World-class care for everyone. Our health System offers unmatched, expert health care. From the lab Clinic.
          </p>
          <a
  routerLink="/patient/medicine-inventory"
  class="round-button"
>
<i class="arrow">&#x2192;</i>
</a>
        </div>
      </div>
      <div class="py-30 px-5">
        <div class="flex items-center justify-center">
          <img src="assets/images/records.jpg" alt="" class="reduce-size" />
        </div>
        <div class="mt-30">
          <h2 class="text-26 leading-9 text-headingColor font-700 text-center">
            Medical Records
          </h2>
          <p class="text-16 leading-7 text-textColor font-400 mt-4 text-center">
            World-class care for everyone. Our health System offers unmatched, expert health care. From the lab Clinic.
          </p>
          <a
  routerLink="/patient/medicine-inventory"
  class="round-button"
>
  <i class="arrow">&#x2192;</i>
</a>

        </div>
      </div>
      <div class="py-30 px-5">
        <div class="flex items-center justify-center">
          <img src="assets/images/records.jpg" alt="" class="reduce-size" />
        </div>
        <div class="mt-30">
          <h2 class="text-26 leading-9 text-headingColor font-700 text-center">
            Medical Records
          </h2>
          <p class="text-16 leading-7 text-textColor font-400 mt-4 text-center">
            World-class care for everyone. Our health System offers unmatched, expert health care. From the lab Clinic.
          </p>
          <a
  routerLink="/patient/medicine-inventory"
  class="round-button"
>
  <i class="arrow">&#x2192;</i>
</a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- About section start -->
<section>
  <div class="container">
    <div class="flex justify-between gap-[50px] lg:gap-[130px] xl:gap-0 flex-col-reverse lg:flex-row">
      <!-- ABOUT CONTENT -->
      <div class="w-full lg:w-1/2 xl:w-[670px]">
        <h2 class="heading">Proud to be the nation's best</h2>
        <p class="text__para">
          For 10 years in a row, Kenya News & World Report has recognized us as one of
          the best private hospitals in the nation and #1 in Nairobi.
        </p>

        <p class="text__para mt-[30px]">
          Our best is something we strive for each day, caring for our patients—not looking back at what we accomplished but towards what we can do tomorrow. Providing the best.
        </p>
        <a routerLink="/patient/about" class="btn">Learn More</a>
      </div>

      <!-- ABOUT IMAGE -->
      <div class="relative ">
        <img src="assets/images/about.png" alt="About Image" />
        <div class="absolute">
          <img src="assets/images/about-card.png" alt="About Card" />
        </div>
      </div>
    </div>
  </div>
</section>


<!--<app-about></app-about> --->
<!-- Services section -->
<section>
  <div class="container">
    <div class="xl:w-470 mx-auto">
      <h2 class="heading text-center">Our Medical Services</h2>
      <p class="text__para text-center">
        World-class care for everyone. Our health System offers unmatched, expert health container.
      </p>
      <div class="services-grid">
        <div class="service-card" *ngFor="let service of services">
          <h3>{{ service.title }}</h3>
          <p>{{ service.description }}</p>
          <div class="service-footer">
            <button class="arrow-button" routerLink="/patient/appointment">➔</button>
            <span class="service-number" [ngClass]="service.color">{{ service.number }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature section -->
<section>
  <div class="container">
    <div class="flex items-center justify-between flex-col lg:flex-row">
      <!-- Featured content -->
      <div class="xl:w-670">
        <h2 class="heading">
          Get virtual treatment <br /> anytime.
        </h2>
        <ul class="pl-4">
          <li class="text__para">
            1.Schedule the appointment directly.
          </li>
          <li class="text__para">
            2.Search for your physician here, and contact their office.
          </li>
          <li class="text__para">
            3. View our physicians who are accepting new patients, use the online Scheduling tool <br/> to select an appointment time.
          </li>
        </ul>
        <a routerLink='/patient/appointment'>
          <button class="btn">Learn More</button>
        </a>
      </div>
      <!-- Feature image -->
      <div class="relative z-10 xl:w-770 flex justify-end mt-50 lg:mt-0">
        <img src="assets/images/feature-img.png" class="w-3/4" alt="" />
        <div class="appointment-card">
          <div class="card-header">
            <div class="date-time">
              <p class="date">Tue, 24</p>
              <p class="time">10:00AM</p>
            </div>
            <span class="video-icon">
              <img src="assets/images/video-icon.png" alt="" />
            </span>
          </div>
          <div class="appointment-type">Consultation</div>
          <div class="doctor-info">
            <img src="assets/images/avatar-icon.png" alt="" />
            <h4 class="doctor-name">Musa Mwangea</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our great doctors -->
<section>
  <div class="container">
    <div class="doctor-section">
      <h2 class="heading-doctor">Our great doctors</h2>
      <p class="text-doctor">
        World-class care for everyone. Our health System offers unmatched, expert health container.
      </p>
    </div>
    <div class="doctor-sec-card">
      <div class="doctor-card" *ngFor="let doctor of doctors">
        <div class="photo-container">
          <img [src]="doctor.photo" alt="Doctor's photo" class="doctor-photo" />
        </div>
        <div class="mt-30 text-center">
          <h2 class="doctor-name">
            {{ doctor.name }}
          </h2>
          <p class="doctor-specialization">
            {{ doctor.specialization }}
          </p>
          <div class="doctor-rating">
            <span class="star-icon">&#9733;</span>
            <span class="rating">{{ doctor.avgRating }}</span>
            <span class="rating-count">({{ doctor.totalRating }})</span>
          </div>
          <p class="doctor-location">
            At Medicare Hospital, Nairobi.
          </p>
          <a routerLink="/doctors" class="round-button">
            <i class="arrow">&#x2192;</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FAQs section -->
<section>
  <div class="container">
    <div class="flex justify-between gap-50 lg:gap-0">
      <div class="w-1/2 hidden md:block">
        <img src="assets/images/faq-img.png" alt="" />
      </div>
      <div class="w-full md:w-1/2">
        <h2 class="heading">Frequent questions asked by patients</h2>
        <!---<app-faqs-list></app-faqs-list>--->
      </div>
    </div>
  </div>
</section>
<!-- Testimonial section -->
<section>
  <div class="container">
    <div class="xl:w-470 mx-auto">
      <h2 class="heading text-center">Patient Reviews</h2>
      <p class="text__para text-center">
        World-class care for everyone. Our health System offers unmatched, expert health container.
      </p>
    </div>
    <!---<app-testimonial></app-testimonial>--->
  </div>
</section>
