<h1>Appointment</h1>
<div class="card">
  <div class="card-head">
     Lab Test
    <button mat-button class="new-patient-button" (click)="addLabTest()" >
      + Add Lab Test
    </button>
  </div>
  <div class="card-body">
     <mat-card-content>
      <table mat-table [dataSource]="dataSource" >
        <ng-container matColumnDef="patientName">
          <th mat-header-cell *matHeaderCellDef>patientName</th>
          <td mat-cell *matCellDef="let element">{{ element.patientName }}</td>
        </ng-container>
        <ng-container matColumnDef="labPatTests">
          <th mat-header-cell *matHeaderCellDef>lab Tests</th>
          <td mat-cell *matCellDef="let element">{{ element.labPatTests }}</td>
        </ng-container>
        <ng-container matColumnDef="labPatAilment">
          <th mat-header-cell *matHeaderCellDef>labPatAilment</th>
          <td mat-cell *matCellDef="let element">{{ element.labPatAilment }}</td>
        </ng-container>
        <ng-container matColumnDef="labPatResults">
          <th mat-header-cell *matHeaderCellDef>lab results</th>
          <td mat-cell *matCellDef="let element">{{ element.labPatResults }}</td>
        </ng-container>
        <ng-container matColumnDef="labDateRec">
          <th mat-header-cell *matHeaderCellDef>Date Rec</th>
          <td mat-cell *matCellDef="let element">{{ element.labDateRec }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="editLabTest(element)">Edit</button>
            <button mat-button color="warn" (click)="deletelabtest(element.id)">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [length]="labtestList.length" [pageSize]="7" [pageSizeOptions]="[ 7]" showFirstLastButtons></mat-paginator>
     </mat-card-content>
  </div>
</div>
