.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
  //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  //height: 60px;
}

.container {
  max-width: 1200px;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2rem;
  margin-right: 0.5rem;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.menu a.active {
  color: #3182ce;
  font-weight: bold;
}

.login {
  background-color: #1d72b8;
  color: white;
  padding: 0.1px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  line-height: 3;
}

.login:hover {
  background-color: #2b6cb0;
}
