<h1>Appointment</h1>
<div class="card">
  <div class="card-head">
     Invoice Record
    <button mat-button class="new-patient-button" >
      + Add Invoice
    </button>
  </div>
  <div class="card-body">
     <mat-card-content>
      <table mat-table [dataSource]="dataSource" >
        <ng-container matColumnDef="patientName">
          <th mat-header-cell *matHeaderCellDef>patientName</th>
          <td mat-cell *matCellDef="let element">{{ element.patientName }}</td>
        </ng-container>
        <ng-container matColumnDef="doctorUsername">
          <th mat-header-cell *matHeaderCellDef>doctorName</th>
          <td mat-cell *matCellDef="let element">{{ element.doctorUsername }}</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>date</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>
        <ng-container matColumnDef="invoiceNumber">
          <th mat-header-cell *matHeaderCellDef>invoiceNumber</th>
          <td mat-cell *matCellDef="let element">{{ element.invoiceNumber }}</td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>total</th>
          <td mat-cell *matCellDef="let element">{{ element.total }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" >Edit</button>
            <button mat-button color="warn" >Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [length]="invoiceList.length" [pageSize]="7" [pageSizeOptions]="[ 7]" showFirstLastButtons></mat-paginator>
     </mat-card-content>
  </div>
</div>
