/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/ngx-toastr/toastr.css';
//@import '~@fortawesome/fontawesome-free/css/all.min.css';



html, body {
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
}

mat-card {
  margin: 2%;
  text-align: left;
  width: 50%;
  margin-left: 25%;
  border: 1px solid #ccc;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;
}

.mat-50 {
  width: 48%;
  margin: 1%;
}

.div-50{
  width: 48%;
  margin: 2.5%;
}

.mat-mdc-raised-button {
  width: 100%;
}

button {
  margin: 2px;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between; /* Creates space between buttons */
}

.mat-card-actions .div-50 {
  width: 48%; /* Adjust width if needed */
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  mat-card {
    width: 90%;
    margin-left: 5%;
  }

  .mat-50{
    width: 100%;
    margin: 0 0 10px 0;
  }

  .div-50 {
    margin: 3.5%;
  }


}
