/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/ngx-toastr/toastr.css';
@import '../node_modules/@angular/cdk/overlay-prebuilt.css';



html, body {
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
}

mat-card {
  margin: 2%;
  text-align: left;
  width: 50%;
  margin-left: 25%;
  border: 1px solid #ccc;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;
}

.mat-50 {
  width: 48%;
  margin: 1%;
}

.div-50{
  width: 48%;
  margin: 2.5%;
}

.mat-mdc-raised-button {
  width: 100%;
}

button {
  margin: 2px;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between; /* Creates space between buttons */
}

.mat-card-actions .div-50 {
  width: 48%; /* Adjust width if needed */
}

/* Base Styles */
section {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* Components */
.container {
  max-width: 100%;
  width: 1440px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: var(--primaryColor); /* Replace with actual primary color value */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  margin-top: 34px;
}

.heading {
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;
  color: var(--headingColor); /* Replace with actual heading color value */
}

.text__para {
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  color: var(--textColor); /* Replace with actual text color value */
  margin-top: 18px;
}

.header {
  background-image: url('./assets/images/mask.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.hero__section {
  background-image: url('./assets/images/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:600px !important;
}

.form__label {
  color: var(--textColor); /* Replace with actual text color value */
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 8px; /* 2 * 4px base spacing unit */
}

.form__input {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #0066ff61; /* Adjust the color as needed */
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 28px;
  color: var(--headingColor); /* Replace with actual heading color value */
  cursor: pointer;
}

.form__input:focus {
  border-color: var(--primaryColor); /* Replace with actual primary color value */
}

.form__input::placeholder {
  color: var(--textColor); /* Replace with actual text color value */
}

/* Responsive Styles */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 26px;
    line-height: 36px;
  }

  .text__para {
    font-size: 16px;
    line-height: 28px;
    margin-top: 12px; /* 3 * 4px base spacing unit */
  }
}


/* Media Queries for responsiveness */
@media (max-width: 768px) {
  mat-card {
    width: 90%;
    margin-left: 5%;
  }

  .mat-50{
    width: 100%;
    margin: 0 0 10px 0;
  }

  .div-50 {
    margin: 3.5%;
  }


}
